<section class="bg-white dark:bg-gray-900">
    <div
        class="py-8 px-4 mx-auto max-w-screen-xl lg:px-12 sm:text-center lg:py-16"
    >
        <h2
            class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
            Commisions
        </h2>
        <p
            class="font-light text-gray-500 sm:text-lg md:px-20 lg:px-38 xl:px-48 dark:text-gray-400"
        >
            Commissions are available under open source license. Let me know if you're available to work.
        </p>
        <div class="gap-4 mt-8 sm:grid sm:grid-cols-4 sm:mt-12">
            <img
                class="col-span-4 mb-4 sm:mb-0 rounded-lg"
                src="/assets/_nologotronbonne_kioncommission_geckoboyadvance_preview.png"
                alt="content gallery 1"
            />
            <img
                class="hidden col-span-1 row-span-2 sm:block rounded-lg"
                src="/assets/tron.jpeg"
                alt="content gallery 4"
            />

            <img
                class="hidden col-span-1 row-span-2 sm:block rounded-lg"
                src="/assets/roll.jpeg"
                alt="content gallery 6"
            />
            <img
                class="col-span-1 sm:block rounded-lg"
                src="/assets/dashie-2d.png"
                alt="content gallery 2"
            />
            
            <img
                class="col-span-1 sm:block rounded-lg"
                src="/assets/free-mood.png"
                alt="content gallery 3"
            />

        </div>
    </div>
</section>
