---
import TutorialCard from "../elements/TutorialCard.astro";
---

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
            <h2
                class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
            >
                Latest Tutorials
            </h2>
            <p
                class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400"
            >
                Read through of our tutorials making it easy to get started with
                graphical programming on Linux.
            </p>
        </div>
        <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
            <TutorialCard
                title="Brickout"
                description="Simple Brickout clone that only uses basic geometry to get started."
                image="/img/tutorial-1.jpg"
            />
            <TutorialCard
                image="/img/tutorial-2.jpg"
                title="Astroids"
                description="Astroids as a method to introduce sprites and gameover screen."
            />
            <TutorialCard
                image="/img/tutorial-3.jpg"
                title="Invaders"
                description="Invaders clone which introduce simple behavior and explosion"
            />
            <TutorialCard
                image="/img/tutorial-1.jpg"
                title="Simple Model"
                description="Start with a simple triangle end with a rendered model"
            />
        </div>
    </div>
</section>
