<div class="col-span-12 md:col-span-6 dark:bg-zinc-800">
    <article
        class="px-8 pb-16 mx-auto prose max-w-2xl prose-sky dark:prose-invert dark:text-white"
    >
        <button
            id="open"
            class="mt-4 md:hidden bg-zinc-100 dark:bg-zinc-900 border-2 dark:border-zinc-700 w-10 h-10 pl-0.5 rounded-lg"
            aria-label="Navigate docs"
        >
        </button>
        <h1 class="my-8">Introduction</h1>
        <p>Lorem ipsum dolor sit amet</p>
        <h2 id="project-structure">Project Structure</h2>
        <p>consectetur adipiscing elit.</p>
    </article>
</div>

<div
    class="hidden md:block relative col-span-3 dark:bg-zinc-800"
    data-pagefind-ignore
>
    <article id="_anchor" class="fixed top-0 py-24 px-4">
        <h1 class="dark:text-white text-xl my-4">On This Page</h1>
        <h2
            class="peer border-l-2 border-l-zinc-400 dark:border-l-zinc-700 pl-2"
        >
            <a
                href="#project-structure"
                class="block py-1 text-zinc-600 dark:text-zinc-400 hover:text-green-600 dark:hover:text-zinc-300 transition-colors"
            >
                Project Structure
            </a>
        </h2><h2
            class="peer border-l-2 border-l-zinc-400 dark:border-l-zinc-700 pl-2"
        >
            <a
                href="#packages"
                class="block py-1 text-zinc-600 dark:text-zinc-400 hover:text-green-600 dark:hover:text-zinc-300 transition-colors"
            >
                Packages
            </a>
        </h2><h3
            class="peer border-l-2 border-l-zinc-400 dark:border-l-zinc-700 pl-4"
        >
            <a
                href="#package-1"
                class="block py-1 text-zinc-600 dark:text-zinc-400 hover:text-green-600 dark:hover:text-zinc-300 transition-colors"
            >
                Package 1
            </a>
        </h3><h4
            class="peer border-l-2 border-l-zinc-400 dark:border-l-zinc-700 pl-6"
        >
            <a
                href="#details"
                class="block py-1 text-zinc-600 dark:text-zinc-400 hover:text-green-600 dark:hover:text-zinc-300 transition-colors"
            >
                Details
            </a>
        </h4><h3
            class="peer border-l-2 border-l-zinc-400 dark:border-l-zinc-700 pl-4"
        >
            <a
                href="#package-2"
                class="block py-1 text-zinc-600 dark:text-zinc-400 hover:text-green-600 dark:hover:text-zinc-300 transition-colors"
            >
                Package 2
            </a>
        </h3>
        <span
            id="_hover"
            class="peer-hover:border-l-green-600 dark:peer-hover:border-l-zinc-400 display absolute h-8 border-l-2 border-transparent -translate-y-40 transition-all"
            aria-hidden="true"></span>
        <span
            id="_active"
            class="hidden border-l-black dark:border-l-white display absolute h-8 border-l-2 border-transparent -translate-y-40 transition-all"
            aria-hidden="true"></span>
    </article>
</div>
