---
import BaseHead from '../components/BaseHead.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

import Hero from '../components/landing/Hero.astro';
import Carousel from '../components/landing/Carousel.astro'
import Tutorials from '../components/landing/Tutorials.astro';
import Blog from '../components/landing/Blog.astro';
import Assets from '../components/landing/Assets.astro';
import Format from '../components/landing/Format.astro';

import { SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={"Landing"} description={SITE_DESCRIPTION} />
	</head>
	<body>
		
		<Navbar/>
		<Carousel/>
		<Tutorials/>
		<Blog/>
		<Assets/>
		<Format/>
		<Footer />

	</body>
</html>
