---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

import Banner from "../components/elements/Banner.astro";
import TutorialCard from "../components/elements/TutorialCard.astro";

---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title="Tools" description="Spotlight on Tools" />
    </head>

    <body>
        <Navbar />
        <main>
 
            <Banner
                title="Tools"
                description="Tools are a spotlight on tools for reverse engineering and fan projects of retro games."
                color="rgb(212, 247, 255)"
            />

            <section class="my-5">
                <div class="container">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-9 mb-4">
                            <!--Section: Content-->
                            <section>
                                <TutorialCard
                                    title="Megaman Legends 1"
                                    description="This tutorial covers how to make a Brickout Clone using the GTK+ library for a window context. OpenGL for rendering, and DashGL to manage matrix manipulation. We'll start off with something very simple, a very primitive clone of Brickout that doesn't use any sprites. We'll learn how to declare vertices and uniforms to draw basic objects on the screen and declare keydown callbacks to move entities on the screen. "
                                    image="/img/tutorial-1.jpg"
                                />
                                <TutorialCard
                                    title="Megaman Legends 2"
                                    description="Simple Astroids clone using assets from Kenney's Space Shooter Redux and Space Shooter Extension. The pace of this tutorial will be slightly faster than previous tutorials. As concepts that were introduced one at a time before will now be grouped into a single step. This tutorial will not be drastically different from the Invaders tutorial. We will mainly focus on movement, direction and acceleration. And how to draw the same sprite multiple times to create a wrapping effect. "
                                    image="/img/tutorial-2.jpg"
                                />
                                <TutorialCard
                                    title="Phantasy Star Online"
                                    description="Simple Invaders clone using Kenney's Space Shooter redux pack. In this tutorial we will include sprites to make a more complete looking game, but it will still be fairly simple in nature. We have a group of enemies that fire at the player while moving down the screen and a player that can fire back. We use static arrays to create a very simple bullet management system. And use the pythagorean theorem for basic hit detection. "
                                    image="/img/tutorial-3.jpg"
                                />
                            </section>
                            <!--Section: Content-->
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-3 mb-4">
                            <!--Section: Sidebar-->
                            <section>
                                <!--Section: Ad-->
                                <section>
                                    <h5>Graphics Tutorials for Linux</h5>

                                    <ul>
                                        <li>OpenGL 2.0ES</li>
                                        <li>OpenGL 3.0</li>
                                    </ul>
                                    <ul>
                                        <li>SDL</li>
                                        <li>EGL</li>
                                        <li>GTK</li>
                                    </ul>
                                </section>
                                <!--Section: Ad-->
                            </section>
                            <!--Section: Sidebar-->
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->

                    <!-- Pagination -->
                    <nav class="my-4" aria-label="...">
                        <ul
                            class="pagination pagination-circle justify-content-center"
                        >
                            <li class="page-item">
                                <a
                                    class="page-link"
                                    href="#"
                                    tabindex="-1"
                                    aria-disabled="true">Previous</a
                                >
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#"
                                    >2 <span class="sr-only">(current)</span></a
                                >
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>

            <Footer />
        </main>
    </body>
</html>
