---
import Container from "../../components/Container.astro";
import Sidebar from "../../components/Sidebar.astro";
import Article from "../../components/Article.astro";

import { getCollection } from "astro:content";
import TagList from "../../components/elements/TagList.astro";

export async function getStaticPaths() {
	const posts = await getCollection('format')
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;
const { title } = post.data;
const { Content } = await post.render();
---

<Container
    title="Formats"
    description="Documentation for working with interchange file formats"
    image="/banner/format.png"
>
    <Sidebar>
        <TagList
            title="Dash Model Format"
            tags={["Summary", "Python", "Golang"]}
        />
        <TagList title="GLTF" tags={["Summary"]} />
        <TagList title="Noesis" tags={["Summary"]} />
    </Sidebar>

    <Article>
        <h1>{title}</h1>
        <Content/>
    </Article>
</Container>
