---
import Container from "../../components/Container.astro";
import Sidebar from "../../components/Sidebar.astro";
import Article from "../../components/Article.astro";
import TagList from "../../components/elements/TagList.astro";

import { getCollection } from "astro:content";
const posts = await getCollection("format");
const post = posts.find((a) => a.slug === "dmf/introduction");

const { title } = post!.data;
const { Content } = await post!.render();
---

<Container
    title="Formats"
    description="Documentation for working with interchange file formats"
    image="/banner/format.png"
>
    <Sidebar>
        <TagList
            title="Dash Model Format"
            tags={["Summary", "Python", "Golang"]}
        />
        <TagList title="GLTF" tags={["Summary"]} />
        <TagList title="Noesis" tags={["Summary"]} />
    </Sidebar>

    <Article>
        <h1>{title}</h1>
        <Content />
    </Article>
</Container>

<script></script>
