---
import AdSpace from "./tutorials/AdSpace.astro";
---

<aside class="block" aria-labelledby="sidebar-label">
    <div class="sm:w-100 lg:w-[336px]">
        <h3 id="sidebar-label" class="sr-only">Sidebar</h3>
        <slot/>
        <AdSpace />
    </div>
</aside>
