---
const ad = {
    url: "https://www.libreoffice.org/",
    image: "/ads/libbie.png",
    text: "Come checkout Libre Office Libbie the Cyber Onyx",
};

const { url, image, text } = ad;
---

<div>
    <h3 class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Ad Space</h3>

    <a href={url}>
        <img src={image} class="rounded-xl"/>
        <p class="my-2 text-sm font-light text-gray-500 dark:text-gray-400">
            {text}
        </p>
        <p
            class="text-xs font-light text-gray-400 uppercase dark:text-gray-500"
        >
            Link to Project
        </p>
    </a>
</div>
