---
export interface Props {
    filename: string;
    code: string;
}

const { filename, code } = Astro.props;
---

<div
    class="w-full mb-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
    <div
        class="p-2 flex flex-wrap font-medium text-center text-gray-500 border-b border-gray-200 rounded-t-lg bg-gray-50 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800"
    >
        {filename}
    </div>
    <div id="defaultTabContent">
        <div class="code-block">{code}</div>
    </div>
</div>
