---
interface Props {
    title: string;
    description: string;
    image: string;
    url: string;
    active: boolean;
}

const { title, image, url, description, active } = Astro.props;
---

<div class={ !active ? "flex items-center p-4" : "flex items-center p-4 bg-gray-700/10 dark:bg-slate-100/10" }>
    <a href={ url } class="shrink-0">
        <img
            src={ image }
            class="mr-4 w-12 max-w-full rounded"
            alt="Image 1"
        />
    </a>
    <a href={ url }>
        <h5
            class="font-semibold leading-tight text-gray-900 dark:text-slate-300 hover:underline"
        >
            { title }
        </h5>
    </a>
</div>
