---
interface Props {
    title: string;
    image: string;
    url: string;
}

const { title, image, url } = Astro.props;
---

<div class="flex items-center pb-2">
    <a href={ url } class="shrink-0">
        <img
            src={ image }
            class="mr-4 w-20 max-w-full rounded"
            alt="Image 1"
        />
    </a>
    <a href="#">
        <h5
            class="font-semibold leading-tight text-gray-900 dark:text-white hover:underline"
        >
            { title }
        </h5>
    </a>
</div>
