---
export interface Props {
    title: string;
    description: string;
    image?: string;
}

const {
    title,
    description,
    image = "https://placehold.co/600x400",
} = Astro.props;
---
<!-- Post -->
<div class="row">
    <div class="col-md-4 mb-4">
        <div
            class="bg-image hover-overlay shadow-1-strong rounded ripple"
            data-mdb-ripple-color="light"
        >
            <img
                src={ image }
                class="img-fluid"
            />
            <a href="#!">
                <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.15);"
                >
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-8 mb-4">
        <h5>{ title } </h5>
        <p>
            { description } 
        </p>

        <button
            type="button"
            class="btn btn-primary">Read</button
        >
    </div>
</div>