---
import Container from "../components/Container.astro";
import Sidebar from "../components/tutorials/Sidebar.astro";
import Article from "../components/Article.astro";
import SocialShare from "../components/tutorials/SocialShare.astro";
import Pages from "../components/elements/Pages.astro";
import FormattedDate from "../components/elements/FormattedDate.astro";

import type { CollectionEntry } from "astro:content";
type Props = CollectionEntry<"tutorials">["data"];
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Container
	title="Tutorials"
	description="Tutorials for getting started with programming on Linux"
	image="/banner/tutorials.png"
>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.23.0/ace.js"
		integrity="sha512-+jESSLfWnLFLB0xrEnlj3yESiiuuuOnVDcq+HXImWWCB5CBqAnVsmtIZ5GtrNMH0C6gPZoj6n14zJ0iwGYoswQ=="
		crossorigin="anonymous"
		referrerpolicy="no-referrer"></script>
	<Sidebar />
	<Article>
		<header class="py-2">
			<div class="w-full max-w-screen-xl">
				<h1
					class="mb-2 max-w-2xl text-2xl dark:text-white font-extrabold leading-none text-gray-900 sm:text-3xl lg:text-4xl"
				>
					{title}
				</h1>
				<p class="text-lg font-normal text-gray-500 dark:text-gray-400">
					{description}
				</p>
				<span
					class="block mb-2 font-semibold text-gray-900 dark:text-white"
					>Published <FormattedDate date={pubDate} />
				</span>
			</div>
		</header>
		<SocialShare />
		<img src={heroImage} alt="" style="width: 100%; border-radius: 5px;" />
		<slot class="format" />
		<Pages />
		<script is:inline>
			console.log('I am running!!!')
			const elements = document.getElementsByClassName("code-block");
			console.log(elements)
			for (let i = 0; i < elements.length; i++) {
				console.log(elements[i]);
				const editor = ace.edit(elements[i]);
				editor.setTheme("ace/theme/monokai");
				editor.session.setMode("ace/mode/c_cpp");
				editor.resize();
				editor.setOptions({
					maxLines: Infinity,
					fontSize: "0.8em",
				});
				editor.setReadOnly(true);
			}
		</script>
	</Article>
</Container>
