---
import Container from "../components/Container.astro";
import Sidebar from "../components/Sidebar.astro";
import Article from "../components/Article.astro";
import TagList from "../components/elements/TagList.astro";
import SocialShare from "../components/tutorials/SocialShare.astro";
import Pages from "../components/elements/Pages.astro";
import FormattedDate from "../components/elements/FormattedDate.astro";

import type { CollectionEntry } from "astro:content";
type Props = CollectionEntry<"tutorials">["data"];
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Container
	title="Tutorials"
	description="Tutorials for getting started with programming on Linux"
	image="/banner/tutorials.png"
>
	<Sidebar>
		<TagList title="Tags" tags={["Hardware", "Musing", "Setup"]} />
	</Sidebar>

	<Article>
		<header class="py-2">
			<div class="w-full max-w-screen-xl">
				<h1
					class="mb-2 max-w-2xl text-2xl dark:text-white font-extrabold leading-none text-gray-900 sm:text-3xl lg:text-4xl"
				>
					{title}
				</h1>
				<p class="text-lg font-normal text-gray-500 dark:text-gray-400">
					{description}
				</p>
				<span
					class="block mb-2 font-semibold text-gray-900 dark:text-white"
					>Published <FormattedDate date={pubDate} />
				</span>
			</div>
		</header>
		<SocialShare />
		<img src={heroImage} alt="" style="width: 100%; border-radius: 5px;" />
		<slot class="format" />
		<Pages/>
	</Article>
</Container>
